/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    font-size: 3rem;
    font-family: Arial, sans-serif;
    background-color: black;
    color: whitesmoke;
}
h1, p {
    text-align: center;
}
